@font-face {
    font-family:"ZXSpectrum";
    src:url("/fonts/zxspectr.eot?") format("eot"),
    url("/fonts/zxspectr.woff") format("woff"),
    url("/fonts/zxspectr.ttf") format("truetype"),
    url("/fonts/zxspectr.svg#ZXSpectrum") format("svg");
    font-weight:normal;font-style:normal;
}

body, html, tr, td {
    font-family: "ZXSpectrum";
    background-color: #000000;
    color: #d8d8d8;
    font-size: 1em;
    line-height: 1em;
}

.screen {
    width: 1020px;
    margin: auto;
    padding: 10px;
}

.tags {
    float: right;
    color: #c6c600 !important;
    padding: 4px !important;
}

.tags:hover {
    float: right;
    background-color: #ffff00 !important;
    color: #000000 !important;

    padding: 4px !important;
    margin: 0 !important;

}

.underline {
    border-bottom: 2px solid #1f1f1f;
}

.error {
    color: red;
}

.active-page {
    color: #000000;
    background-color: #00ff00;
    padding: 4px;
    border-radius: 2px;
}

.header {
    color: #00d8d8;
    padding: 4px;
    margin: 4px;
}

.header a, .header a:visited {
    color: #00d8d8 !important;
}

.header a:hover {
    color: #000000 !important;
    background-color: #00d8d8 !important;
}

.header img {
    margin: -4px;
    padding: -4px;
    min-height: 100%;
}

.search {
    border-style: solid;
    border-color: #001d2c;
    border-width: 2px;
    background: #000000;
    color: #d8d8d8;
    font-family: 'ZXSpectrum';
    padding: 8px;
    font-size: 1em;
    width: 100%;
}

.search:focus-visible {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #575757;
  opacity: 1; /* Firefox */
}

.spacer {
    padding: 4px;
}

.bullet {
    padding: 4px 0 8px 0;
    margin: 4px;
}

a, a:visited {
    color: #00ff00;
    background-color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    background-color: #00ff00;
    padding: 4px;
    margin: -4px;
    border-radius: 2px;
}

@keyframes blink {
    50% {
        color: #000000;
        background-color: #ffffff;
    }
    100% {
        color: #ffffff;
        background-color: #000000;
    }
}
.blink {
    padding: 2px;
    animation: blink 1s step-start 0s infinite;
}
